/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.card-img-top 
{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

body 
{
    background-color: #1c1c1c;
    color: #f1f1f1;
}

header 
{
    background-color: #333;
    color: #f1f1f1;
}

a 
{
    color: #999;
}

p, span, h1, h2, h3 
{
    color: #f1f1f1;
}