{% extends "layout.html" %}

{% block title %}
    Authorize
{% endblock %}

{% block main %}
<form>
    <div class="mb-3">
        {% if spot_auth %}
        <button class="btn btn-outline-success disabled mx-auto w-auto">Connected to Spotify</button>
        {% else %}
        <button class="btn btn-success mx-auto w-auto" name="spotify" formaction="/authspotify" type="submit">Connect to Spotify</button>
        {% endif %}
        {% if yt_auth %}
        <button class="btn btn-outline-danger disabled mx-auto w-auto">Connected to Youtube</button>
        {% else %}
        <button class="btn btn-danger mx-auto w-auto" name="Youtube" formaction="/authyoutube" type="submit">Connect to Youtube</button>
        {% endif %}
    </div>
</form>
{% endblock %}