{% extends "layout.html" %}

{% block title %}
    Convert playlist
{% endblock %}

{% block main %}
<h5>The following playlist will be made in your YouTube account.</h5>
<form>
<table class="table table-dark table-bordered">
    <div class="input-group mb-3">
        <span class="input-group-text">Playlist Name</span>
        <input type="text" class="form-control" name="name" value="{{ name }}">
    </div>
    <thead>
      <tr>
        <th scope="col">Include</th>
        <th scope="col">Name</th>
        <th scope="col">Artists</th>
        <th scope="col">Preview</th>
      </tr>
    </thead>
    <tbody>
        {% for video in playlist %}
            <tr>
                <td class="col-md-1"><input type="checkbox" name="videoId" value="{{ video.id }}" checked></td>
                <td class="col-md-4">{{ video.name }}</td>
                <td class="col-md-3">{{ video.channel }}</td>
                <td class="col-md-1"><a class="btn btn-success" href="{{ video.url }}" target="_blank">Listen</button></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <div>
    <button class="btn btn-lg btn-success" type="submit" formaction="/convert" formmethod="post">Confirm</button>
    <button class="btn btn-lg btn-danger" type="submit" formaction="/playlists_spotify" >Cancel</button> 
  </div>
</form>
{% endblock %}