{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
    <main role="main" class="text-center">
        <h1>Welcome to Spotube!</h1>
        <p class="lead" style="padding-left: 25%; padding-right: 25%; padding-top: 1.5%; padding-bottom: 1%;">
            Spotube is a web app that helps you convert your favourite Spotify playlists to YouTube playlists.
            To get started connect your Spotify and YouTube accounts to the application.
        </p>
        <p class="lead">
        <a href="/auth" class="btn btn-lg btn-success">Get Started</a>
        </p>
    </main>
{% endblock %}