{% extends "layout.html" %}

{% block title %}
    View {{ name }}
{% endblock %}

{% block main %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Artists</th>
        <th scope="col">Duration</th>
        <th scope="col">Preview</th>
      </tr>
    </thead>
    <tbody>
        <h5>{{ name }}</th>
        <h5 class="text-muted">Playtime {{ time | time }}</th>
        {% for song in playlist %}
            <tr>
                <th scope="row" class="col-md-1">{{ loop.index }}</th>
                <td class="col-md-3">{{ song.name }}</td>
                <td class="col-md-2">{{ song.artists }}</td>
                <td class="col-md-1">{{ song.duration | time }}</td>
                {% if song.url != None %}
                    <form action="{{ song.url }}">
                        <td class="col-md-1"><button type="submit" class="btn btn-success">Listen</button></td>
                    </form>
                {% else %}
                    <td class="col-md-1"><button type="button" class="btn btn-outline-success disabled">Listen</button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}